- content_for :header do
  =stylesheet_link_tag "business.css"
%h1= @business.name

%h2
  Current Bookables
#bookable_table
  =render @business.bookables


= link_to "Add something that can be booked", new_business_bookable_path(@business)
