.bookable_overview {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  width: 150px;
  height: 200px;
  float: left;
  margin-right: 2px;
  padding: 2px; }

.bookable_desc {
  margin-top: 2px; }

#bookable_table {
  overflow: auto;
  width: 100%; }

#business_details {
  overflow: auto; }

#details_form {
  float: left;
  width: 400px; }

#business_address {
  width: 300px; }

#business_map {
  float: left; }
