#calendar {
  width: 75%;
}

.unavailable {
  background-color: rgb(100,100,200);
}

th {
  text-align: center;
}

#holiday_calendar {
  th, td {
    margin: 0;
    padding: 0.3em;
    text-align: center;
  }
  .holiday {
    background-color: rgb(100,100,200);
  }
}
