#calendar {
  width: 75%;
}

.unavailable {
  background-color: rgb(100,100,200);
}

th {
  text-align: center;
}

#holiday_calendar {
  font-size: 0.85em;
  tr.alternate {
    background-color: rgb(200,200,200);
  }
  th, td {
    margin: 0;
    padding: 0.275em;
    text-align: center;
  }

  .holiday {
    background-color: rgb(100,100,200);
  }
}
