%h1 Calendar

#calendar
  %table
    %tr
      %th Time
      - @bookables.each do  |b|
        %th= b.name
    - (9...20).each do |time|
      %tr
        %td= format("%d:00", time)
        - @bookables.each do  |b|
          %td= b.name
