#holiday_calendar
  %table
    %th
      - counter = 0
      - while counter < @total 
        - HolidayCalendarCell::DAYS_IN_A_WEEK.each do |d|
          = raw("<th>" + d + "</th>") unless counter >= @total 
          - counter += 1
    - alternate = false
    - HolidayCalendarCell::MONTHS_IN_A_YEAR.each_with_index do |m, i|
      %tr{:class => (alternate ? "alternate" : "")}
        - alternate = !alternate
        = raw(calendar_row(i+1, @current_year, @business_calendar, @total))
